.main-container {
  margin: 20px;
}
.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.main .meals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 767px) {
  .main {
    grid-template-columns: 2fr 1fr;
  }
  .main .meals {
    grid-template-columns: 1fr;
  }
}
